.order-history {
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.order-history h2 {
  padding-bottom: 20px;
  color: green;
}
.order-history h3 {
  padding-bottom: 20px;
}
.order-p {
  margin-bottom: 20px;
}
